@charset "UTF-8";

#section-shop {
    margin-top: $vertical-rythm-spacing-component;

    h2 {
        size: $font-size-headline-component-large;
        color: $c-primary;
        font-weight: $font-weight-regular;
    }

    .productList {
        list-style: none;
        padding-left: 0;
    }
}