@charset "UTF-8";

.itemBox {
    border-color: $c-secondary-darker;
    border-style: dashed;
    border-width: 1px;
    padding: 10px 10px 10px 10px;
    margin-bottom: 10px;
}

.itemDetails {
    h3 {
        font-weight: $font-weight-bold;
        margin-top: 0;
        margin-bottom: $vertical-rythm-spacing-text;
    }

    p {
        margin: 0 0 0 0;
    }
}

.itemCartFooter{
    width: 100%;
    display: inline-flex;
    align-items: center;
    margin: 0 0 0 0;

    .leftAlign {
        float: left;
        button {
            @include text-button;
        }
    }

    .rightAlign {
        position: absolute;
        right: 20px;
        p {
            font-weight: $font-weight-bold
        }
    }

}