@charset "UTF-8";

.checkoutPrice {
    text-align: right;

    ol {
        list-style: none;
        padding-left: 0;
        margin-top: 0;
        margin-bottom: 0;

        li {
            margin-bottom: $vertical-rythm-spacing-text;
        }
    }
    
    .priceWidth {
        display: inline-flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
            
        label {
            font-style: italic;
        }
        output {
            width: 75px;
            text-align: right;
        }

        #finalPay{
            font-size: $font-size-final-output;
            color: $c-primary;
            font-weight: $font-weight-bold;
        }
    }
}