@charset "UTF-8";

.checkoutFooter {

    div#paymentButtons {
        text-align: right;

        a {
            color: $c-primary;
        }

        button {
            @include cart-button;
        }
    }
}