@charset "UTF-8";

.cartItem {
    margin-bottom: $vertical-rythm-spacing-text;

    h3,
    p {
        margin: 0 0 $vertical-rythm-spacing-text 0;
    }

    h3 {
        font-weight: $font-weight-bold;
    }
}

.inputQuantity {
    width: 20px;
}

.inputCell {
    text-align: right;
    white-space: nowrap;
}

.line {
    height: 1px;
    color: $c-secondary-darker;
    margin: 0;
}

.lineDashed {
    height: 1px;
    color: $c-secondary-darker;
    border-style: dashed;
    margin: 0;
}

.priceColGap {
    padding-right: $horizontal-rythm-spacing-text;
}

.removeButton {
    @include text-button;
}

.quantityButton {
    @include cart-button;
}