@charset "UTF-8";

.section-shoppingcart {
    margin-top: $vertical-rythm-spacing-component;
    margin-bottom: $vertical-rythm-spacing-component;
    background-color: #eff1f3;
    padding: 20px;

    table {
        display: inline-block;
        width: 100%;
    }

    h2 {
        font-size: $font-size-headline-component-large;
        color: $c-primary;
        font-weight: $font-weight-regular;
        margin: 0;
    }

    thead,
    tbody,
    tfoot,
    tr {
        display: table;
        width: 100%;
    }

    thead th {
        font-size: $font-size-table-header;
        color: $c-primary;
        font-weight: $font-weight-regular;
    }
}

.product {
    text-align: left;
}

.price {
    padding-right: $horizontal-rythm-spacing-text;
}

.quantity {
    text-align: right;
}