@charset "UTF-8";

header {
    section {
        @include theme-background;

        div {
            height: 350px;

            #logoHeader {
                margin-top: $vertical-rythm-spacing-text;

                @include link-with-logo;
            }

            h1 {
                size: $font-size-headline-primary;
                color: $c-secondary;
                font-weight: $font-weight-regular;
                text-align: center;
            }
        }
    }
}

@media screen and (min-width: 2dppx) {

    header section div {
        height: 50px;
    }
}
