@charset "UTF-8";

.footerDmlr {
    @include theme-background;

    a {
        margin-top: $vertical-rythm-spacing-text;
        margin-bottom: $vertical-rythm-spacing-text;
    }

    label {
        color: $c-secondary;
        font-weight: $font-weight-bolder;
    }
}