@charset "UTF-8";

nav ul li:not(:last-child)::after {
    content: " » ";
}

nav ul {
    list-style: none;
    padding-left: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: $c-primary;
}