@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600");
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  min-height: 100%;
  width: 100vw;
  max-width: 100%;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
}

body,
html {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-size: 16px;
  font-weight: 300;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 1180px;
  box-sizing: border-box;
}

.is-hidden {
  display: none;
}

.is-visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
}

.is-visually-hidden.is-focusable:focus {
  position: static;
  clip: auto;
}

header section {
  background: linear-gradient(-22deg, #ffdb99 30%, orange 100%);
}

header section div {
  height: 350px;
}

header section div #logoHeader {
  margin-top: 10px;
  display: inline-block;
  color: transparent;
  background-image: url("themes/default/logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  font-size: 20px;
  height: 38px;
}

header section div #logoHeader:link, header section div #logoHeader:visited {
  color: transparent;
}

header section div h1 {
  size: 30px;
  color: #fff;
  font-weight: 300;
  text-align: center;
}

@media screen and (min-width: 2dppx) {
  header section div {
    height: 50px;
  }
}

nav ul li:not(:last-child)::after {
  content: " » ";
}

nav ul {
  list-style: none;
  padding-left: 0;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: orange;
}

#section-shop {
  margin-top: 30px;
}

#section-shop h2 {
  size: 35px;
  color: orange;
  font-weight: 300;
}

#section-shop .productList {
  list-style: none;
  padding-left: 0;
}

.itemBox {
  border-color: #cccccc;
  border-style: dashed;
  border-width: 1px;
  padding: 10px 10px 10px 10px;
  margin-bottom: 10px;
}

.itemDetails h3 {
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 10px;
}

.itemDetails p {
  margin: 0 0 0 0;
}

.itemCartFooter {
  width: 100%;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
      align-items: center;
  margin: 0 0 0 0;
}

.itemCartFooter .leftAlign {
  float: left;
}

.itemCartFooter .leftAlign button {
  box-shadow: none;
  background-color: transparent;
  transition: none;
  border: 0;
  border-radius: 0;
  padding: 0;
  margin: 0;
  color: orange;
  font-size: 16px;
}

.itemCartFooter .leftAlign button:hover {
  cursor: pointer;
}

.itemCartFooter .rightAlign {
  position: absolute;
  right: 20px;
}

.itemCartFooter .rightAlign p {
  font-weight: 400;
}

.section-shoppingcart {
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #eff1f3;
  padding: 20px;
}

.section-shoppingcart table {
  display: inline-block;
  width: 100%;
}

.section-shoppingcart h2 {
  font-size: 35px;
  color: orange;
  font-weight: 300;
  margin: 0;
}

.section-shoppingcart thead,
.section-shoppingcart tbody,
.section-shoppingcart tfoot,
.section-shoppingcart tr {
  display: table;
  width: 100%;
}

.section-shoppingcart thead th {
  font-size: 25px;
  color: orange;
  font-weight: 300;
}

.product {
  text-align: left;
}

.price {
  padding-right: 10px;
}

.quantity {
  text-align: right;
}

.cartItem {
  margin-bottom: 10px;
}

.cartItem h3,
.cartItem p {
  margin: 0 0 10px 0;
}

.cartItem h3 {
  font-weight: 400;
}

.inputQuantity {
  width: 20px;
}

.inputCell {
  text-align: right;
  white-space: nowrap;
}

.line {
  height: 1px;
  color: #cccccc;
  margin: 0;
}

.lineDashed {
  height: 1px;
  color: #cccccc;
  border-style: dashed;
  margin: 0;
}

.priceColGap {
  padding-right: 10px;
}

.removeButton {
  box-shadow: none;
  background-color: transparent;
  transition: none;
  border: 0;
  border-radius: 0;
  padding: 0;
  margin: 0;
  color: orange;
  font-size: 16px;
}

.removeButton:hover {
  cursor: pointer;
}

.quantityButton {
  box-shadow: none;
  background-color: transparent;
  transition: none;
  border: 0;
  border-radius: 0;
  padding: 0;
  margin: 0;
  background: orange;
  border-radius: 6px;
  padding: 10px;
  font-size: 16px;
  color: #fff;
}

.quantityButton:hover {
  cursor: pointer;
}

.quantityButton:hover, .quantityButton:focus {
  background: #ffdb99;
}

.checkoutPrice {
  text-align: right;
}

.checkoutPrice ol {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.checkoutPrice ol li {
  margin-bottom: 10px;
}

.checkoutPrice .priceWidth {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}

.checkoutPrice .priceWidth label {
  font-style: italic;
}

.checkoutPrice .priceWidth output {
  width: 75px;
  text-align: right;
}

.checkoutPrice .priceWidth #finalPay {
  font-size: 22px;
  color: orange;
  font-weight: 400;
}

.checkoutFooter div#paymentButtons {
  text-align: right;
}

.checkoutFooter div#paymentButtons a {
  color: orange;
}

.checkoutFooter div#paymentButtons button {
  box-shadow: none;
  background-color: transparent;
  transition: none;
  border: 0;
  border-radius: 0;
  padding: 0;
  margin: 0;
  background: orange;
  border-radius: 6px;
  padding: 10px;
  font-size: 16px;
  color: #fff;
}

.checkoutFooter div#paymentButtons button:hover {
  cursor: pointer;
}

.checkoutFooter div#paymentButtons button:hover, .checkoutFooter div#paymentButtons button:focus {
  background: #ffdb99;
}

.footerDmlr {
  background: linear-gradient(-22deg, #ffdb99 30%, orange 100%);
}

.footerDmlr a {
  margin-top: 10px;
  margin-bottom: 10px;
}

.footerDmlr label {
  color: #fff;
  font-weight: 600;
}
